<mat-card >
     <mat-card-header>
      <mat-card-title> Course Info </mat-card-title>
      <button mat-icon-button aria-label="Example icon button with a open in new tab icon">
            <mat-icon>open_in_new</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>more_vert</mat-icon>
      </button>
     </mat-card-header>
     <mat-card-content>
       <p>Domain : {{course.domain}}</p>
       <p>Course Name : {{course.coursename}}</p>
     </mat-card-content>
</mat-card>