.container-fluid {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    margin : 10px;
    padding : 10px ;
    border : rgb(134, 131, 131) 3px solid;
}

.mat-card {
    margin : 15px;
}